/* public-sans-100 - latin */
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 100;
    src: local(''),
    url('../fonts/public-sans-v13-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/public-sans-v13-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* public-sans-500 - latin */
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/public-sans-v13-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/public-sans-v13-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --color-txt: #2D314D;
    --color-links: #9597A5;
    --bg-color-green: #30C88F;
    --bg-color: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
}

html {
    box-sizing: border-box
}

body {
    flex-direction: column;
    margin: 0;
    font-family: "Public Sans","Arial",sans-serif;
    overflow-x: hidden
}

.container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px
}

ul {
    padding: 0;
    list-style: none
}

a {
    display: block;
    text-decoration: none
}

img {
    vertical-align: middle
}

.site-header{
    padding: 22px 24px;
    z-index: 4;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open{
    
    width: 24px;
    height: 11px;
    background-image: url("../images/toggler-open.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}

.closee,
.site-nav,
.header-wrapper__btn{
    display: none;
}

.hero{
    padding-top: 227px;
    padding-bottom: 88px;
    background-image: url(../images/phones-mobile.svg);
    background-repeat: no-repeat;
    /* background-size: 1010px 551px; */
    background-size: contain;
    
    background-position: calc(50% + 154px) calc(50% - 222px);
    background-color: #fffafa;
}

.hero-wrap{
    width: 100%;
    min-width: 201px;
    margin-right: auto;
    margin-left: auto;
}

.hero-wrap__title{
    margin-bottom: 16px;
    font-family: 'Public Sans';
    font-weight: 100;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: -0.714286px; 
    color: #2D314D;
}

.hero-wrap__btn-box{
    margin-left: 25%;
}

.hero-wrap__desc{
    font-family: 'PublicSans';
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.234375px; 
    color: #9597A5;
}

.hero-wrap__btn{
    display: inline-block;
    padding: 8px 33px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px; 
    color: #FFFFFF;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    border-radius: 22px;
}

.easybank{
    padding: 64px 0;
    background-color: #F4F5F7;
}

.easybank__top{
    width: 100%;
    min-width: 200px;
    margin-right: auto;
    margin-left: auto;
}

.easybank__title{
    margin-bottom: 14px;
    font-family: 'Public Sans';
    font-weight: 100;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.571429px;   
    color: #2D314D;
}

.easybank__desc{
    
    font-family: 'PublicSans';
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.234375px;
    color: #9597A5;
    
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 64px;
    right: 0;
    left: 0;
    bottom: 0;
    width: 278px;
    height: 265px;
    margin: 0 auto;
    margin-top: 44px;
    padding-top: 10px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 4px;
    background-image: linear-gradient(180deg, #2D314D 0%, rgba(45, 49, 77, 0.0001) 100%);
    transform: matrix(1,0,0,-1,0,0);
    animation: .5s cubic-bezier(.165,.84,.44,1) forwards modalContentFadeIn
}

@keyframes modalContentFadeIn {
    0% {
        transform: scale(.8);
        opacity: .1
    }
    
    100% {
        transform: scale(1);
        opacity: 1
    }
}

/* .modal__main-box{
    width: 278px;
    height: 265px;
    margin: 0 auto;
    margin-top: 44px;
    padding-top: 10px;
    background-color: #fff;
} */


.modal__list {
    display: flex;
    flex-direction: column;
    text-align: center
}

.modal__item:not(last-child) {
    margin-bottom: 32px
}

.modal__link {
    font-family: 'Public Sans';
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.138462px;
    color: #2D314D;
}


